<div class="group_form">
	<table class="table table-striped">
	<% @groups.each do |group| %>

		<tr class="group_index" onclick="window.location.href='<%= group_url(group) %>'">
			<td>
			<span class="username"><%= group.name %></span>
			<span>
				<%= group.description %>
			</span>
			<br>
				<% group.users.each do |user| %>
					<img class="index_thumb" title="<%= user.name %>" src="<%= user.profile_image_url %>"></img>
				<% end %>
			</td>
		</tr>
	<% end %>
	</table>
</div>

	