<div class="group_form">
	<% @groups.each do |group| %>
		<div class="group_index" onclick="window.location.href='<%= group_url(group) %>'">
			<span><%= group.name %></span>
			<span>
				<%= group.description %>
			</span>
			<br>
				<% group.users.each do |user| %>
					<img class="index_thumb" title="<%= user.name %>" src="<%= user.profile_image_url %>"></img>
				<% end %>
		</div>
	<% end %>
</div>

	