<div class="show_page_edit_button">
	<a href="<%= edit_group_url %>">edit this group</a>
</div>
<br>
<span class="group_label">group name</span>
<span class="group_name"><%= @group.name %></span>
<span class="group_label">description</span>
	<span class="group_description"><%= @group.description %></span>
<br>

<span class="enter_group_name">Click to view a user's tweets</span>
<div class="group_form">
	<div id="accordion"></div>
</div>

<script type="text/javascript">
	$( function () {
		var tweets = <%= @tweets.to_json.html_safe %>;
		<% @users.each do |user| %>
			var user_json = <%= user.to_json.html_safe %>;

			$("#accordion").append(show_template(user_json));
			<% if @tweets[user.id].empty? %>
				$("#<%= user.twitter_id_str %>").append("<h1>Protected</h1>");
			<% else %>
				<% @tweets[user.id][0].each do |tweet| %>
					tweet = <%= tweet.to_json.html_safe %>;
					$("#<%= user.twitter_id_str %>").append(tweet_template(tweet));
				<% end %>
			<% end %>
		<% end %>

		$("#accordion").accordion({ header: "div", heightStyle: 'content', collapsible: true, active: false}); 
	})
</script>







