<div class="container">
	<div class="col-md-10">
		<h1><%= @group.name %></h1>
		<p>Description: <%= @group.description %></p>
		<h1>Click to view a user's tweets</h1>

		<% mid = @users.size / 2 %>
		<% left_users, right_users = @users[0...mid], @users[mid..-1] %>

		<div id="left_users" class="col-md-6">
			<% @users = left_users %>
			<%= render 'users/users_column' %>
		</div>
		<div id="right_users" class="col-md-6">
			<% @users = right_users %>
			<%= render 'users/users_column' %>
		</div>
	</div>
	<div class="col-md-2">
		<h1>Log In</h1>
		<%= render 'login_form' %>
	</div>
</div>
<script type="text/javascript">
	var MONTH = {0: 'Jan', 1: 'Feb', 2: 'Mar', 3: 'Apr', 4: 'May', 5: 'Jun', 
					6: 'Jul', 7: 'Aug', 8: 'Sep', 9: 'Oct', 10: 'Nov', 11: 'Dec'};
	function ajax(twitter_id_str) {
		$.ajax({
			url: '/users/' + twitter_id_str,
			type: 'GET',
			dataType: 'json',
			success: function (response) {
				if (response.length == 0) {
					$("#" + twitter_id_str + " > table").append("<tr><td>No Hay Tweet</td></tr>");
				} else {
					show(twitter_id_str, response)
				}
			},
			error: function (response) {
				console.log('ERROR: ' + response);
			}
		})
	}
	function show(twitter_id_str, response) {
		_.each(response, function (tweet) {
			var tweet_date = new Date(Date.parse(tweet['created_at']));
			var display_time = MONTH[tweet_date.getMonth()] + " " + tweet_date.getDate();
			$("#" + twitter_id_str + " > table").append(tweet_template(tweet, display_time));
		})
		$("a[name*='" + twitter_id_str + "']").off().on("click", hide);
	}
	function hide() {
		$("#" + $(this).attr("name") + " > table").slideToggle(600);
	}
	$( function () {
		// $('#header_links').append("<a href='<%#= edit_group_url %>'>Edit This Group</a>");
		$(".user > a").on("click", function () {
			ajax($(this).attr("name"));
		})
	})
</script>
<script type="text/javascript">
	$(function () {
		$("ul.nav").append("<li class='active'><a href='<%= edit_group_url %>'>Edit This Group</a></li>")
		// $("ul.nav").append("King Kong");
	})
</script>







