<div class="container">
	<div class="col-md-10">
		<h1><%= @group.name %></h1>
		<p><%= @group.description %></p>
		<h1>Click to view a user's tweets</h1>
			<% @users.each do |user| %>
				<div id="<%= user['id'] %>">
					<img src="<%= user['profile_image_url'] %>">
					<a onclick="ajax(<%= user['id'] %>)"><%= user['name'] %></a>
					<table class='table table-striped'></table>
				</div>
			<% end %>
	</div>
	<div class="col-md-2">
		<h1>SPACE</h1>
		<%= render 'login_form' %>
	</div>
</div>
<script type="text/javascript">
	var MONTH = {0: 'Jan', 1: 'Feb', 2: 'Mar', 3: 'Apr', 4: 'May', 5: 'Jun', 
					6: 'Jul', 7: 'Aug', 8: 'Sep', 9: 'Oct', 10: 'Nov', 11: 'Dec'};
	function ajax(twitter_id_str) {
		$.ajax({
			url: '/users/' + twitter_id_str,
			type: 'GET',
			dataType: 'json',
			success: function (response) {
				if (response.length == 0) $("#" + twitter_id_str + " > table").append("<tr><td>No Hay Tweet</td></tr>");
				_.each(response, function (tweet) {
					var tweet_date = new Date(Date.parse(tweet['created_at']));
					var display_time = MONTH[tweet_date.getMonth()] + " " + tweet_date.getDate();
					$("#" + twitter_id_str + " > table").append(tweet_template(tweet, display_time));
				})
			},
			error: function (response) {
				console.log('ERROR: ' + response);
			}
		})
	}
	$( function () {
		// $('#header_links').append("<a href='<%= edit_group_url %>'>Edit This Group</a>");
	})
</script>







